@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');

:root{
    --main-color: #344e41;
    --sec-color: #3a5a40;
    --ter-color: #588157;
    --qua-color: #a3b18a;
    --white-color: #dad7cd;

    --fonte: "National Park", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--main-color);

    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 550px;
    font-family: var(--fonte);
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
    overflow: hidden;

    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/pexels-isabella-mendes-107313-1795506.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
}


section#login > div#formulario{
    display: block;
    padding: 10px 20px;
}

section#login > div#formulario > h1{
    text-align: center;
    padding: 10px 0px;
    font-size: 2em;
}

section#login > div#formulario > p{
    text-align: justify;
    margin: auto;
    font-size: 1em;
    margin-bottom: 20px;
}

form > div.campo{
    display: block;
    width: 100%;
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 5px;
    margin: 7px 0px;
}

form > div.campo > label > i{
    color: white;
}

form > div.campo > input{
    font-family: var(--fonte);
    text-indent: 5px;
    width: 93.5%;
    border-radius: 2px;
}

form > div.campo > input{
    
}

form > input[type=submit]{
    display: block;
    font-family: var(--fonte);
    width: 100%;
    padding: 10px;
    background-color: var(--ter-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}

form > input[type=submit]:hover{
    background-color: var(--qua-color);
    color: var(--main-color);
}

form > button {
    display: block;
    font-family: var(--fonte);
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    cursor: pointer;
}

form > button#btn-esq > i{
    font-size: 1em;
}

form > button:hover{
    color: var(--ter-color);
    background-color: var(--white-color);
}