@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');

:root{
    --main-color: #344e41;
    --sec-color: #3a5a40;
    --ter-color: #588157;
    --qua-color: #a3b18a;
    --white-color: #dad7cd;

    --fonte: "National Park", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--main-color);

    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 550px;
    font-family: var(--fonte);
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
    overflow: hidden;
}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/pexels-isabella-mendes-107313-1795506.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
}


section#login > div#formulario{
    display: block;
    padding: 10px;
}

#formulario > h1{
    text-align: center;
    padding: 10px 0px;
    font-size: 2em;
}

#formulario > p{
    text-align: justify;
    margin: auto;
    font-size: 1em;
    margin-bottom: 20px;
}

/*
.input-txt{
    display: inline-blo;
}

.input-txt > label > i{
    display: inline-block;
    color: white;
    font-size: 30px;
    width: 30px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--sec-color);
}

.input input{
    width: 90%;
    margin: auto;
}

.input input, button{
    width: 100%;
    margin: auto;
}

.input > .input-texto{
    width: 80%;
    background-color: #dad7cd50;
    border: 3px solid var(--sec-color);
    border-radius: 5px;
    height: 30px;
    font-family: var(--fonte);
    margin-bottom: 10px;
}

.input > .input-button, .btn{
    font-family: var(--fonte);
    border-radius: 5px;
    border: none;
    padding: 10px 0px;
    margin-bottom: 5px;
}

.input > #btn-enviar{
    background-color: var(--ter-color);
    color: white;
    font-weight: 700;
}

.input > #btn-esq{
    background-color: white;
    color: var(--ter-color);
    border: 2px solid var(--ter-color);
    font-weight: 700;
}
*/