@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');

:root{
    --main-color: #344e41;
    --sec-color: #3a5a40;
    --ter-color: #588157;
    --qua-color: #a3b18a;
    --white-color: #dad7cd;

    --fonte: "National Park", sans-serif;
}

